@{
    ViewBag.Title = "Friends";
    Layout = "~/Views/Shared/_Layout.cshtml";
 
    var user = @ViewBag.User;
  

}
<ol class="breadcrumb">
  <li>@Html.ActionLink("Home", "Index", "Secure")</li>
  <li class="active">Friends</li>
</ol>

<h2>Friends</h2>


@foreach (var f in user.Friends)
{
   <div> @Html.ActionLink((string) f.FriendUser.Name, "Index",new { controller = "Profile", username= f.FriendUser.UserName }, null)</div>
  
    
    
    
   
}
     