@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb">
  <li class="active">Home</li>
</ol>

<h2>Home</h2>
 <ul>
  <li>@Html.ActionLink("Friends", "Friends", "Secure")</li>
  <li>@Html.ActionLink("Games", "Games", "Secure")</li>
</ul>
