@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Profile</h2>



<form action="/secure/profile/create" method="post">
    Name:<input name="Name" id="Name" type="text" /><br />
    Email:<input name="Email" id="Email" type="text" /><br />
    Bio:<input name="Bio" id="Bio" type="text" /><br />
    Zip:<input name="Zip" id="Zip" type="text" /><br />
    <input type="submit" value="save" />
</form>
