@section featured {

}
<ol class="breadcrumb">
  <li>@Html.ActionLink("Home", "Index", "Secure")</li>
  <li class="active">Contact</li>
</ol>
<h3>Contact Us</h3>
<form action="/contact/create" method="post">
      <div class="form-group">
           <label for="name">Name</label>
           <input  class="form-control" name="Name" id="Name" type="text" />
      </div>
      <div class="form-group">
           <label for="name">Email</label>
            <input  class="form-control" name="Email" id="Email" type="text" />
      </div>
      <div class="form-group">
           <label for="name">Comments</label>
            <input  class="form-control" name="Comments" id="Comments" type="text" />
      </div>
     <div class="form-group">
          <input type="submit" class="btn btn-primary" value="Submit" />
     </div>
</form>
