@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Contact</h1>
              
            </hgroup>
           
        </div>
    </section>
}


<form action="/contacts/create" method="post">
     Name:<input name="Name" id="Name" type="text" /><br />
    Email:<input name="Email" id="Email" type="text" /><br />
    Comments:<input name="Comments" id="Comments" type="text" /><br />
    <input type="submit" value="save" />
</form>
