@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Thank You</h1>
                <h2>Thank you for your feedback</h2>
            </hgroup>
           
        </div>
    </section>
}

