@{
    
    
    
   var users = ViewBag.users;
    
}


@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>The Bingo of Kings, Prime Ministers and Presidents</h2>
            </hgroup>
             <div class="row">
                       <div class='col-md-7'>

                             <h3> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad mini</h3>
                       </div>
                       <div class='col-md-4'>
                           <img  src="~/images/crown-icon-large.png" />
                       </div>
                          <div class='col-md-1'></div>
               </div>
            <br />
               <div class="row">
                       <div class='col-md-12'>

                           <div class="panel panel-default">
  <div class="panel-body">
    <h4>
                           This site was developed as a MVC 4 example for the IT Project Delivery class at <a href="http://www.fvtc.edu">FVTC</a>.
                                Code, Wireframes and Class Diagrams can all be found on <a href="https://github.com/thejoebaldwin/king-bingo-mvc">Github</a>.
                               Documentation of using the JSON Web API can be found by clicking on the API link in the site footer.
                            </h4>
  </div>
</div>

                         
                       </div>
                      </div>
        </div>
    </section>
}

