
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Play Bingo Like Royalty</h1>
                <h2> <img style="float:right" src="/images/crown-icon-large.png" />@ViewBag.Message</h2>
               
            </hgroup>
           
        </div>
    </section>
}

