@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var users = ViewBag.users;
}

<h2>Search</h2>


@Html.Partial("_UsersPartial", ViewData)

  @section scripts {
      <script>

          $(".friendForm").submit(function (event) {
              var o = {};
              var a = $(this).serializeArray();
              $.each(a, function () {
                  if (o[this.name]) {
                      if (!o[this.name].push) {
                          o[this.name] = [o[this.name]];
                      }
                      o[this.name].push(this.value || '');
                  } else {
                      o[this.name] = this.value || '';
                  }
              });
              console.log(o);

              $.ajax({
                  type: 'POST',
                  url: '/service/v0/addfriend',
                  data: JSON.stringify(o), // or JSON.stringify ({name: 'jonas'}),
                  success: function (data) {
                      alert('data: ' + data.message);
                  },
                  contentType: "text/html",
                  dataType: 'json'
              });


            event.preventDefault();
        });

     </script>
   }