
@{
    var user = @ViewBag.User;
    ViewBag.Title = user.Name;
}

       @Html.Partial("ProfilePartial", ViewData)
     
   Friends<br />
    
    
@foreach (var f in user.Friends)
{
   <div> 
       @Html.Raw("<img  width=\"50px\" src=\"data:image/jpeg;base64," + Convert.ToBase64String( f.FriendUser.ProfileImage) + "\" />")

       @Html.ActionLink((string) f.FriendUser.Name, "Index",new { controller = "Profile", username= f.FriendUser.UserName }, null)

   </div>
   
   
}
     

</article>

