@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @{
            var user = @ViewBag.User;
        }
       <h1>Profile View Page for: @user.UserName    </h1>
    </div>
</body>
</html>
