@{
    ViewBag.Title = "Home Page";
    
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
                
                
            </hgroup>
            
        </div>
    </section>
}


@{
    var games = ViewBag.games;   
}


<ul>
@foreach (var g in games)
{
    <li>@Html.ActionLink((string) g.Name, "Index", "Game", new { id = g.GameID}, null)</li>
}
</ul>


